[Unit]
Description=Servei per a iniciar els serveis web de DAW - M8
After=docker.service network-online.target
Requires=docker.service network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes

ExecStart=/home/ofornes/daw/daw-m8-secure/webs/assets/scripts/dawm8-start.sh

ExecStop=/home/ofornes/daw/daw-m8-secure/webs/assets/scripts/dawm8-stop.sh

[Install]
WantedBy=multi-user.target
